node_modules/
*.log
.DS_Store
debug-json/
.data/
generated/
app/generated/
**/target/**
packages/slint-gallery/rust/pkg/
packages/slint-gallery/rust/dist/
packages/slint-gallery/node/dist/
packages/slint-gallery/node/.tools/